@import 'config';

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  position: relative;
  @include adaptive(padding-left, 150, 25, 0);
  @include adaptive(padding-right, 150, 25, 0);

}

.family {
  &-roboto {
    font-family: 'Roboto',
      serif;
  }

}

.popup {
  @include _transition(all, .1s);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100500;
  display: none;

  &__overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

input,
textarea {
  display: flex;
  @extend .p;
  @include adaptive(height, 65, 40, 0);
  @include adaptive(padding-left, 20, 15, 0);
  @include adaptive(padding-right, 20, 15, 0);

  @include _borderRadius(2px);
  border: 1px solid rgba(255, 74, 17, 0.5);
  background: $mainColor;
  color: $textcolor;
}

.form__popup {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $mainColor;
  @include _borderRadius(5px);
  @include _transition(all, .1s);
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  z-index: 2;
  width: 95%;
  max-width: 500px;
  padding: 50px 20px;


  &-input {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &-textarea {
    margin-bottom: 15px;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;

  @include _transition(transform, .3s);

  span {
    @include _borderRadius(5%);
    position: absolute;
    // top: 0%;
    right: 0%;
    transform: rotate(45deg);
    display: block;
    background: $textcolor;
    width: 100%;
    height: 3px;
    bottom: 10px;

    &::before {
      @include _borderRadius(5%); // top: 0%;
      right: 0%;
      bottom: 10px;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-90deg);
      display: block;
      background: $textcolor;
      width: 100%;
      height: 3px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

// .header
.header {
  padding-top: 30px;

  img {
    width: 100%;
    height: auto;
  }

  // .header__wrapper
  &__wrapper {
    justify-content: space-between;
    align-items: center;
  }
}

.logo {

  @include adaptive(width, 110, 80, 0);
  @include adaptive(height, 80, 50, 0);
  display: flex;

}

.guaranties {
  display: flex;
  height: 100%;

  max-width: 186px;

  // guaranties-img
  &-img {

    @include adaptive(width, 60, 40, 0);
    @include adaptive(min-width, 60, 40, 0);
    @include adaptive(height, 60, 40, 0);
    margin-right: 7px;
  }

  // guaranties-text 
  &-text {
    @include adaptive(font-size, 18, 14, 0);
    line-height: 110.18%;
    @extend .family-roboto;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptive(font-size, 25, 17, 0);
  @include _borderRadius(12px);
  @include _transition(all, .3s);
  color: #fff;
  background: $accent;
  box-shadow: 0px 7px 4px -3px rgba(255, 132, 44, 0.2);
  position: relative;
  z-index: 2;



  &::before {
    width: 100%;
    height: 100%;
    display: block;
    background: $accentSecond;

    content: '';
    left: 0;
    right: 0;
    position: absolute;
    @include _borderRadius(12px);
    @include _transition(all, .5s);
    z-index: -2;
    bottom: -2px;
  }

  &::after {
    width: 100%;
    height: 100%;
    display: block;
    background: $accent;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    @include _borderRadius(12px);
    @include _transition(all, .3s);
    z-index: -1;
    top: 0;
  }

  &:hover {
    background: $accentHover;

    &:before {
      background: $accentSecondHover;
    }
  }

  &__active {
    box-shadow: none;
    color: $textcolor;
    background: #ffffff;

    &::before,
    &::after {
      display: none;
    }

    border: 1px solid $accent;

    &:hover {
      background: #ffffff;
    }


  }


  // .btn-header
  &-header {
    @include adaptive(font-size, 18, 14, 0);
    width: 220px;
    height: 48px;
    @include adaptive(width, 220, 180, 0);
    @include adaptive(height, 50, 35, 0);

  }

  // .btn-main

  &-main {
    width: 355px;
    height: 67px;
    @include adaptive(width, 355, 200, 0);
    @include adaptive(height, 65, 40, 0);
    margin-bottom: 18px;
    @include adaptive(font-size, 25, 16, 0);
  }

  // .btn-leave_requests
  &-leave_requests {

    @include adaptive(height, 65, 40, 0);
    width: 35%;
  }

  // .btn-complex_project
  &-complex_project {
    width: 100%;
    @include adaptive(height, 50, 40, 0);

  }

  &-quiz {
    width: 100%;
    @include adaptive(height, 50, 40, 0);

  }
}

.phone {

  @extend .family-roboto;

  // ._desctop
  ._desctop {}

  // ._mobile
  ._mobile {}
}

.messengers {
  display: flex;
  // .messengers__icon

  &__icon {
    display: flex;
    margin-right: 10px;
    // ._desctop
    @include adaptive(width, 45, 35, 0);
    @include adaptive(min-width, 45, 35, 0);
    @include adaptive(height, 45, 35, 0);

    &._desctop {}

    // ._mobile

    &._mobile {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.main {

  // .main__section

  &__section {
    @include adaptive(padding-top, 75, 40, 0);
    @include adaptive(padding-bottom, 55, 30, 0);

  }

  // .main__wrapper

  &__wrapper {
    flex-direction: column;
  }

  // .main__title

  &__title {
    line-height: 115.68%;
    @include adaptive(margin-bottom, 60, 30, 0);
    color: black;
  }

  // .main__subtitle

  &__subtitle {

    margin-bottom: 20px;

    strong {
      font-weight: normal;
      color: $accent;
    }
  }

  // .main__text

  &__text {
    @extend .p;
    margin-bottom: 22px;
  }

  // .main__annotation

  &__annotation {
    @include adaptive(font-size, 18, 14, 0);
    line-height: 140%;
    @include adaptive(margin-bottom, 60, 30, 0);

    strong {
      font-weight: normal;
      color: $accent;
    }
  }
}

.gifts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-bottom: 35px;

  // .gifts-item  
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  // .gifts-img  
  &-img {
    max-width: 361px;
    width: 100%;
    min-height: 203px;
    margin-bottom: 10px;
    overflow: hidden;
    @include _borderRadius(12px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .gifts-text  
  &-text {
    @extend .p;
    text-align: center;
  }

}

.about {

  // .about__title

  &__title {
    @include adaptive(font-size, 25, 17, 0);
    line-height: 134%;
    font-weight: normal;
    margin-bottom: 22px;
    text-align: center;
  }

  // .about__detail

  &__detail {
    @include adaptive(margin-bottom, 110, 55, 0);

    display: flex;
    justify-content: space-between;
  }

  // .about__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  // .about__img

  &__img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .about__text

  &__text {
    @include adaptive(font-size, 18, 14, 0);
    text-align: center;
  }
}

// .leave_requests
.leave_requests {
  display: flex;
  flex-direction: column;
  border: 2px solid $accent;
  padding-top: 17px;
  padding-bottom: 32px;
  text-align: center;
  @include adaptive(padding-left, 66, 30, 0);
  @include adaptive(padding-right, 66, 30, 0);
  @include _borderRadius(6px);

  // .leave_requests-title
  &-title {
    @extend .t4;

  }

  // .leave_requests-subtitle
  &-subtitle {
    @extend .p;
    margin-bottom: 16px;
  }

  // .leave_requests-inputs
  &-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  // .leave_requests-input
  &-input {
    width: 60%;
  }
}


.quiz {

  // .quiz__section

  &__section {
    @include adaptive(padding-top, 80, 40, 0);
    @include adaptive(padding-bottom, 50, 30, 0);
    min-height: 77vh;
  }

  // .quiz__wrapper

  &__wrapper {
    align-items: flex-start;
    justify-content: space-between;
  }
}

// .complex_project
.complex_project {
  display: flex;
  flex-direction: column;
  max-width: 455px;
  margin-top: 100px;

  // .complex_project-wrap
  &-wrap {
    width: 100%;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    @include _borderRadius(12px);
    border: 1px solid $accent;
  }

  // .complex_project-title
  &-title {
    text-align: center;
    @extend .t4;
    margin-bottom: 18px;
  }

  // .complex_project-subtitle
  &-subtitle {
    text-align: center;
    @extend .p;
    margin-bottom: 40px;
  }

  // .complex_project-input
  &-input {
    width: 100%;
    margin-bottom: 20px;
  }


  // .complex_project-check
  &-check {
    position: relative;
    font-size: 16px;
    color: #BFBFBF;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include adaptive(margin-bottom, 40, 25, 0);


  }
}

input[type="checkbox"] {
  opacity: 0;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #BFBFBF;
  position: absolute;

  &:checked {
    &+.check__icon {
      opacity: 1;
    }
  }
}

.bonus {
  display: flex;

  // .bonus__img
  &__img {

    @include adaptive(width, 85, 40, 0);
    @include adaptive(min-width, 85, 40, 0);

    @include adaptive(height, 95, 50, 0);
    margin-right: 14px;

    img {
      width: 100%;
      height: auto;
    }

  }

  // .bonus__text
  &__text {
    @extend .p;

    strong {
      font-weight: 500;
    }
  }
}

.check {

  // .check__box
  &__box {
    position: relative;
    border: 1px solid $accent;
    @include _borderRadius(6px);
    width: 32px;
    height: 32px;
    margin-right: 20px;

    // .check__box-complex
    &-complex {
      width: 18px;
      height: 18px;
      background: #FFFFFF;
      border: 1px solid #BFBFBF;
      border-radius: 3px;
      margin-right: 8px;
    }
  }

  // .check__icon
  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    @include _transition(all, .2s);
    opacity: 0;

    &-complex {
      left: 5px;
      bottom: 5px;
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  @include _transition(all, .3s);

  &.full-size {
    width: 100%;
  }
}

.question {

  // .question__wrapp

  &__wrapp {
    display: flex;
    flex-direction: column;
    width: 100%;

    // .question__wrapp-title
    &-title {
      @extend .t3;
      text-align: center;
    }

    // .question__wrapp-subtitle
    &-subtitle {
      text-align: center;
      @extend .p;
      margin-bottom: 28px;
    }
  }

  // .question__variables
  &__variables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include _transition(all, .2s);
    @include adaptive(grid-column-gap, 48, 20, 0);
    @include adaptive(grid-row-gap, 75, 45, 0);

    // .question__variables-item
    &-item {
      display: flex;
      flex-direction: column;
    }

    // .question__variables-img
    &-img {
      width: 312px;
      height: 206px;
      @include adaptive(width, 300, 200, 0);
      @include adaptive(wiheightdth, 200, 100, 0);
      overflow: hidden;
      @include _borderRadius(2px);
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    // .question__variables-content
    &-content {
      align-items: center;
      display: flex;
    }

    &-textarea {
      grid-column: 1/-1;
      min-height: 160px;
      padding: 22px;
    }

    &._textarea {
      @include adaptive(grid-row-gap, 25, 20, 0);
    }
  }
}

.footer {
  padding-top: 23px;
  padding-bottom: 8px;
  background: #1F1F1F;
  color: #FFFFFF;


  // footer__wrapper
  &__wrapper {
    align-items: center;
    justify-content: center;
  }

  // .footer__text
  &__text {
    @extend .t4;
  }
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // .developer__text

  &__text {
    font-size: 12px;
  }

  // .developer__img

  &__img {}
}